[submodule "roles/ansible"]
	path = roles/ansible
	url = https://github.com/alvistack/ansible-role-ansible.git
	branch = develop
[submodule "roles/cloud_init"]
	path = roles/cloud_init
	url = https://github.com/alvistack/ansible-role-cloud_init.git
	branch = develop
[submodule "roles/cni_plugins"]
	path = roles/cni_plugins
	url = https://github.com/alvistack/ansible-role-cni_plugins.git
	branch = develop
[submodule "roles/conmon"]
	path = roles/conmon
	url = https://github.com/alvistack/ansible-role-conmon.git
	branch = develop
[submodule "roles/containers_common"]
	path = roles/containers_common
	url = https://github.com/alvistack/ansible-role-containers_common.git
	branch = develop
[submodule "roles/cri_o"]
	path = roles/cri_o
	url = https://github.com/alvistack/ansible-role-cri_o.git
	branch = develop
[submodule "roles/cri_tools"]
	path = roles/cri_tools
	url = https://github.com/alvistack/ansible-role-cri_tools.git
	branch = develop
[submodule "roles/crun"]
	path = roles/crun
	url = https://github.com/alvistack/ansible-role-crun.git
	branch = develop
[submodule "roles/etcd"]
	path = roles/etcd
	url = https://github.com/alvistack/ansible-role-etcd.git
	branch = develop
[submodule "roles/kernel"]
	path = roles/kernel
	url = https://github.com/alvistack/ansible-role-kernel.git
	branch = develop
[submodule "roles/kubeadm"]
	path = roles/kubeadm
	url = https://github.com/alvistack/ansible-role-kubeadm.git
	branch = develop
[submodule "roles/kubectl"]
	path = roles/kubectl
	url = https://github.com/alvistack/ansible-role-kubectl.git
	branch = develop
[submodule "roles/kubelet"]
	path = roles/kubelet
	url = https://github.com/alvistack/ansible-role-kubelet.git
	branch = develop
[submodule "roles/kube_master"]
	path = roles/kube_master
	url = https://github.com/alvistack/ansible-role-kube_master.git
	branch = develop
[submodule "roles/locales"]
	path = roles/locales
	url = https://github.com/alvistack/ansible-role-locales.git
	branch = develop
[submodule "roles/python"]
	path = roles/python
	url = https://github.com/alvistack/ansible-role-python.git
	branch = develop
[submodule "roles/sshd"]
	path = roles/sshd
	url = https://github.com/alvistack/ansible-role-sshd.git
	branch = develop
[submodule "roles/timezone"]
	path = roles/timezone
	url = https://github.com/alvistack/ansible-role-timezone.git
	branch = develop
